.member-card {
    border-radius: 10px;
    height: min-content;
    width: 230px;
    height: 230px;
    color: var(--main-black);
    position: relative;
    cursor: pointer;
}

.member-card img {
    border-radius: 10px;
    object-fit: cover;
    width: 230px;
    height: 230px;
    display: block;
}

.hide{
    display: none;
}
  
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--primary);
    border-radius: 10px;
}
    
.member-card:hover .overlay {
    opacity: 1;
}
    
.text {
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}